body {
  margin: 0;
  font-family: Arial, Verdana, sans-serif;
}
.application {
  position: relative;
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_width {
  display: flex;
  justify-content: center;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}
.application header.align_right {
  text-align: right;
}
.inline {
  display: inline-block;
  width: 300px;
  padding: 14px;
  vertical-align: top;
}
.form {
  margin-top: 50px;
}
.dropdown-list {
  border: 1px solid #8de0d2;
  width: 280px;
  margin-top: 22px;
  padding: 8px 36px 12px 8px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='32' height='32' viewBox='0 0 32 32' xml:space='preserve'%3E%3Cg transform='matrix(-0.36 0 0 -0.16 16 16)' id='c0b64a42-7c4b-4913-85c4-4d36033e1533' %3E%3Cpolygon style='stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(36,186,160); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' points='-37.43,32.41 0,-32.41 37.43,32.41 ' /%3E%3C/g%3E%3C/svg%3E")
    96% / 15% no-repeat #eee;
  font-size: 30px;
  font-family: "ralewaylight", Arial, Tahoma, sans-serif;
}
.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}
.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}
.checkbox label::before,
.checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A")
    no-repeat center;
  border: 0;
  display: none;
}
.checkbox input:checked + label::after {
  display: block;
}
.active {
  background: url("../images/form_ok.jpg");
  width: 48px;
  height: 40px;
}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img {
  margin-top: 110px;
  margin-left: 38px;
}
.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}
.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: "ralewaymedium", Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.summary_panel {
  height: 40vh;
}

.summary_panel--up {
  height: 70%;
}
.summary_panel--down {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}

#summary-selected-option-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.selected-option {
  display: flex;
  justify-content: space-between;
  padding: 16px 36px;
}
.show {
  display: block;
}
.title {
  height: 30px;
}
.logo {
  background: black;
  width: 100vw;
  height: 5vh;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  color: white;
  text-decoration: none;
}
.logo a span {
  color: #24baa0;
}
