:root {
    --color-primary: rgb(21, 190, 161);
}

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
}


.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
}
.row > .col {
    flex: 1;
}
[class^="col"] {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}
.row > .col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
}
.row > .col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}
.row > .col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.row > .col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}
.row > .col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}
.row > .col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.row > .col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}
.row > .col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}
.row > .col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.row > .col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
}
.row > .col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
}
.row > .col-12 {
    flex: 0 0 auto;
    width: 100%;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
}
.nav__layout {
    display: flex;
    justify-content: space-between;
}
.nav__logo {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}
.nav__logo .logo__colored {
    color: var(--color-primary);
}


.nav__menu,
.nav__submenu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav__submenu {
    background: #000;
    display: none;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
}
.nav__menu--item,
.nav__submenu--item {
    float: left;
    position: relative;
}
.nav__menu--item:hover > .nav__submenu,
.nav__menu--item:focus-within > .nav__submenu,
.nav__menu--item .nav__submenu:hover,
.nav__menu--item .nav__submenu:focus {
    display: block;
}
.nav__submenu--item {
    clear: both;
    width: 100%;
}
.nav__link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 1rem;
    transition-duration: 0.5s;
    cursor: pointer;
}
.nav__link:hover,
.nav__link:focus-within {
    background: var(--color-primary);
    outline: none;
}


.image {
    width: 100%;
    height: 180px;
    position: relative;
}
.image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image__caption {
    position: absolute;
    width: 100%;
    bottom: 16px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 16px 16px 24px 16px;
    box-sizing: border-box;

}

.chairs__description {
    padding: 16px;
    border: solid thin gray;
}

.header {
    margin: 0;
}
.header::after {
    content: "";
    display: block;
    width: 130px;
    height: 6px;
    background: var(--color-primary);
}

