* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Raleway', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1400px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid red;
}

header {
    background-color:rgb(0,0,0);
}
.head {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.head__logo {
    color: white;
    display: flex;
    align-items: center;
}
.head__menu {
     width: 500px;
    }
.head__logo span { 
    font-weight: bold;
    color: rgb(21,190,161);
}
.head__menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
.head__menu a {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.head__menu--item {
    margin-top: 100px;
    background-color: green;
}
nav {
    height: 500px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #efefef, #e9e9e9, #e2e2e2, #dcdcdc);
}

.navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__img {
    width: 481px;
    height: 357px;
}

.navigation i {
    font-size: 80px;
    color: rgb(21,190,161);
}
.navigation__chair{
    display: none;
    height: 100%;
    text-align: center;
    padding: auto 0;
}
.navigation__img img {
    width: 100%;
    height: 100%;
}

.visible {
    display: block;
}
.navigation__text {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    width: 536px;
    height: 290px;
    margin-right: 100px;
    text-align: center;
}
.navigation__text p {
    margin-bottom: 7px;
    font-weight: bold;
}
.navigation__text h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.navigation__text span {
    color: rgb(21,190,161);
}
.navigation button {
    background-color: #24baa0;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    border-radius: 10px;
    align-self: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 15px;
    border: none;
}
.slider {
    height: 349px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider__img {
    width: 420px;
}
.slider__img img {
    width: 100%;
    height: 100%;
}

.slider__text {
    border: 2px solid #ccc;
    padding: 10px;
}
.slider__text {
    margin-right: 60px;
    width: 420px;
    height: 287.23px;
}
.slider__text p {
    margin: 5px;
}
.slider__text div {
    margin-top: 15px;
    margin-bottom: 18px;
    border-bottom: 8px solid #24baa0;
    width: 250px;
}

.offert {
    display: grid;
    grid-template-areas: 
    'offert__prize'
    'basic standard advance'
    ;
}

 
/* 

header {
    width: 100%;
    height: 50px;
    background-color: black;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
    }

.head {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;

}

.headmenu {
    width: 600px;
}

div.head div {
    margin-left: 100px;
}
div ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

p {
    color: white;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
span {
    color: #24baa0;
}

/* section navigation   */
/* 
nav {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #efefef, #e9e9e9, #e2e2e2, #dcdcdc);
    height: 500px;
}

nav div.container {
    height: 500px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation p {
    color: black;
}

.navigation div:nth-of-type(2) {
    width: 50%;
    text-align: center;
}

.navigation div:nth-of-type(2) p {
    margin: 25px;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

i {
    color: #24baa0;
    font-size: 70px;
}


/* section gallery */
/* 
section p {
    color: black;
}

section div {
    margin-top: 30px;
    margin-bottom: 80px;
}
.images {
    display: flex;
    justify-content: space-evenly;
}

.images div:nth-of-type(3) {
    width: 400px;
}

main {
    background-color: #e9e9e9;
    min-height: 300px;
}

.prize  {
        margin-top: 30px;
        margin-left: 30px;
        border-bottom: 5px solid #24baa0;
        width: 398px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    height: 650px;
}

.oferta {
    width: 398px;
    min-height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-family: 'Raleway', sans-serif;

}

.up {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up h2 {
    text-transform: uppercase;
    color: #24baa0;
}

.up div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.up div h2 {
    color: gray;
}
.mgr {
    margin-top: 30px;
}
.option1  {
    background-color: #e2e2e2;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option1 p {
    color:black;
}

.option2 {
    background-color: #efefef;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option2 p{
    color: black;
}

.mgrbtn {
    margin-top: auto;
    margin-bottom: 20px;
}

.foot {
    height: 500px;
    display: flex;
    font-family: 'Raleway', sans-serif;

}

.firstdiv {
    width: 60%;
    min-height: 10px;
}

.seconddiv {
    width: 40%;
    min-height: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputstyle {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-width: 60%;
    margin-left: 30px;
}

.inputstyle input {
    margin-bottom: 30px;
}

.inputstyle input:nth-of-type(1) {
    margin-top: 30px;
}   */