* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 1540px;
}

button {
    background-color: #24baa0;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    border-radius: 10px;
    align-self: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
    line-height: 50px;
    }

.head {
    display: flex;
    justify-content: space-between;
}

.headmenu {
    width: 600px;
}

div.head div {
    margin-left: 100px;
}
div ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

p {
    color: white;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
span {
    color: #24baa0;
}

/* section navigation   */

nav {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #efefef, #e9e9e9, #e2e2e2, #dcdcdc);
    height: 500px;
}

nav div.container {
    height: 500px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation p {
    color: black;
}

.navigation div:nth-of-type(2) {
    width: 50%;
    text-align: center;
}

.navigation div:nth-of-type(2) p {
    margin: 25px;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

i {
    color: #24baa0;
    font-size: 70px;
}


/* section gallery */

section p {
    color: black;
}

section div {
    margin-top: 30px;
    margin-bottom: 80px;
}
.images {
    display: flex;
    justify-content: space-evenly;
}

.images div:nth-of-type(3) {
    width: 400px;
}

main {
    background-color: #e9e9e9;
    min-height: 300px;
}

.prize  {
        margin-top: 30px;
        margin-left: 30px;
        border-bottom: 5px solid #24baa0;
        width: 398px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    height: 650px;
}

.oferta {
    width: 398px;
    min-height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.up {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up h2 {
    text-transform: uppercase;
    color: #24baa0;
}

.up div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.up div h2 {
    color: gray;
}
.mgr {
    margin-top: 30px;
}
.option1  {
    background-color: #e2e2e2;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option1 p {
    color:black;
}

.option2 {
    background-color: #efefef;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option2 p{
    color: black;
}

.mgrbtn {
    margin-top: auto;
    margin-bottom: 20px;
}

.foot {
    height: 500px;
    display: flex;
}

.firstdiv {
    width: 60%;
    min-height: 10px;
}

.seconddiv {
    width: 40%;
    min-height: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputstyle {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-width: 60%;
    margin-left: 30px;
}

.inputstyle input {
    margin-bottom: 30px;
}

.inputstyle input:nth-of-type(1) {
    margin-top: 30px;
}